<%= render "helpers/navbar" %>

  <div class="pt-5 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <table class="table-fixed">
      <thead class="border-b bg-blue-500 text-white px-3 py-2 ">
        <tr class="border-collapse border border-slate-400">
          <th scope="col" class="text-sm font-medium text-white px-6 py-4">ID</th>
          <th scope="col" class="text-sm font-medium text-white px-6 py-4">Descrição</th>
          <th scope="col" class="text-sm font-medium text-white px-6 py-4">Proteína (g)</th>
          <th scope="col" class="text-sm font-medium text-white px-6 py-4">Carboidrato (g) </th>
          <th scope="col" class="text-sm font-medium text-white px-6 py-4">Calorias (cal) </th>
        </tr>
      </thead>
      <% @foods.each do |food| %>
        <tbody>
          <tr class="border-b">
            <td class="text-sm text-gray-900 font-light px-6 py-4">
              <%= food['id'] %>
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4">
              <%= food['description'] %>
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4">
              <%= food['attributes']['protein']['qty'].to_f.round(2) rescue '0' %>
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4">
              <%= food['attributes']['carbohydrate']['qty'].to_f.round(2) rescue '0' %>
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4">
              <%= food['attributes']['energy']['kcal'].to_i.round() %>
            </td>
          </tr>
        </tbody>
        <% end %>
    </table>
  </div>
  </div>